@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", sans-serif;
  --font-header: "Dela Gothic One", sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: theme(--color-sky-600) theme(--color-slate-100);
}
